<!DOCTYPE html>
<html>
<head>
  <title>SHoRT-CART</title>
  <!--line below is adding icon in tab-->
  <link rel="shortcut icon" href="/img/kisspng-tote-bag-shopping-bag-gift-gift-bag-5aa415fbb24921.1517083015207029717303.png"/>
  <meta http-equiv="Content-Type" content="text/html">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/styles/home.css">
</head>
<body id="body">
  <%include navbar.ejs%>
  <div class="row">
    <% data.forEach(function(data){%>
          <div class="col-xs-12 col-sm-6 col-md-3 content">
              <div class="thumbnail responsive">
                <div class="content-overlay"></div>
                <img src='<%=data["link"]%>' class="image">
                  <div class="content-details fadeIn-top">
                    <h3><%=data["itemname"]%></h3>
                    <p><%=data["details"]%></p>
                    <h2><span>Rs. </span><%=data["price"]%></h2>
                  </div>
                  <div class="caption">
                      <p class="title"><%=data["itemname"]%></p>
                  </div>
                <a href='/cart/add/<%=data["itemid"]%>' class="btn btn-primary btn-block" id="temp"><i class="fas fa-cart-arrow-down"></i> ADD TO CART</a>
              </div>
          </div>
          
    <%})%>
  </div>
</body>
</html>